.box1{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    background-color: white;
}
h1{
    color: green;
}

.box1 h2{
    text-transform: uppercase;
    color: green;
    font-family: 'Times New Roman', Times, serif;
}
.contact{
    background-color: aqua;
    text-align: center;
    font-size: 1.2rem;
    
}
div button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.center_button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

body{
    font-size: 20px;
}